.nav {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 1rem;
}

.navlinks {
    display: flex;
    list-style: none;
    gap: 6rem;
    padding-left: 6rem;
}

.nav a {
    font-size: 2rem;
    font-family: "BBH+Bartle";
    color: white;
    text-decoration: none;
    text-align: center;
}

.hamburger {
    display: none;
    size: 2em;
    cursor: pointer;    
}

#menu {
    display: none;
}